body {
    font-family: sans-serif;
    color: white;
    background-color: #101112;
    padding-left: 10px;
}

#nav {
    background-color: #03336e;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}